body{
    margin: 0;
    font-family:'Source Sans pro';
}

a {
    text-decoration: none;
    color:white;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(47, 47, 191);
    padding: 8px 12px;
}

.navbar_logo{
    font-size: 24px;
    color: white;
}

.navbar_logo i{
    color:white;

}

.navbar_menu{
    display: flex;
    list-style: none;
    padding-left: 0;

}

.navbar_menu li{
    padding: 8px 10px;
    ;
}

.navbar_menu li:hover{
    background-color: #d49466;
    border-radius: 4px;
}

.navbar_icons{
    list-style: none;
    color: white;
    display: flex;
    padding-left: 0;
}

.navbar_icons li{
    padding:8px 12px;

}

.navbar__toogleBtn {
    position:absolute; /** 문서밖에서 실행*/
    right: 32px;
    font-size: 24px;
    display: none;
}

@media screen and (max-width:768px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar_menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_menu li{
        width: 100%;
        text-align: center;
    }

    .navbar_icons{
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar__toogleBtn{
        display: block;
    }

    .navbar_menu.active,
    .navbar_icons.active{
        display: flex;
    }
}

.submenu1{
    overflow: hidden;
    height: 0;
    list-style: none;
}

.submenu2{
    overflow: hidden;
    height: 0;
}

.submenu3{
    overflow: hidden;
    height: 0;
}

.submenu4{
    overflow: hidden;
    height: 0;
}

.submenu5{
    overflow: hidden;
    height: 0;
}

.navbar_menu li:hover .submenu1{
    transition-duration: 0.75s;
    height: 100px;
}
.navbar_menu li:hover .submenu2{
    transition-duration: 0.75s;
    height: 75px;
}
.navbar_menu li:hover .submenu3{
    transition-duration: 0.75s;
    height: 150px;
}
.navbar_menu li:hover .submenu4{
    transition-duration: 0.75s;
    height: 75px;
}
.navbar_menu li:hover .submenu5{
    transition-duration: 0.75s;
    height: 100px;
}
.player{
    text-align:center;
    
}
  div>section>img{
    width:200px;
    margin:25px;
    border:2px outset rgba(2, 7, 11, 0.67);
	border-radius:5px;
    
}

.firstTeam{
    color: #444;
    text-shadow: 
    -1px -1px 1px #000, 
    2px 2px 1px #c0c0c0;
}
